@model MvcContainer.Models.Container

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Voce tem certeza que deseja deletar?</h3>
<div>
    <h4>Container</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.Nome_cliente)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nmr_control)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nmr_control)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoContainer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoContainer.Tipo_container)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusContainer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusContainer.Status_name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoriaContainer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoriaContainer.CategoriaName)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
