@model MvcContainer.Models.Container

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Container</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.Nome_cliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nmr_control)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nmr_control)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoContainer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoContainer.Tipo_container)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusContainer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusContainer.Status_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoriaContainer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoriaContainer.CategoriaName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
